h1{
  font-size:40px;
  text-align: center;
}
#product-container>div{
  display:inline-block;
  padding:10px;
}
#product-container>div>img{
  width:200px; 
}

#chart{
  width: 700px;
  height: 500px;
}
#product-container{
  padding-left:160px;
}
body{
  width:950px;
  margin:auto;
}